[Unit]
Description=Run Server Health Monitor every 5 minutes
Requires=server-health-monitor.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target